@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #24252A;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 12%;
}
.content-wrap {
  flex: 1;
}
.shadow-4 {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.footer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-flow: column nowrap;
  background: rgb(20, 20, 20);
  color: rgb(158, 158, 158);
  width: 100%;
}
.footer p:hover {
  color:orange;
}
.footer p {
  padding-bottom: 12px;
}
.heart{color:#e25555;}
.netlify {
  background-color: white;
  border-radius: 10px;
  padding:12px;
  margin-bottom: 12px;
}
.nohand:hover {
  cursor: default;
}
.netlifyLogo {
  display: flex;
  justify-content: center;

  height:25px;
}

.socials i {
  padding:20px;
  color:gray;
}
.socials i:hover {
  padding:20px;
  color:orange;
}
.logo {
  margin-right: auto;
  object-fit: contain;
  height:60px;
  border-radius: 50%;
}

.nav__links {
list-style: none; 
margin: 0; 
padding: 0;
}
.nav__links li {
  display:inline-block;
  padding: 0 20px;
}
.nav__links a {
  transition: all 0.3s ease 0s;
}
.nav__links a:hover {
  color: #2444fd;
  
}
.button {
  padding:9px 25px;
  background-color: rgb(0, 102, 255);
  color:white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: rgba(0, 102, 255, 0.8);
}
.bold {
  font-weight: 700;
}
.header {
  width: 100%;
  padding: 5% 0px;
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  background-color: white;
}
.darkSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
  width: 100%;
  padding: 2% 0px;
  align-items: center;
}
.darkSection a {
  align-self: flex-end;
  color: white;
}
.mg-l {
  margin-left:20px;
}

@media (max-width: 480px) {
  
  header {
    display:flex;
    flex-direction: column;
    max-width: 1200px; 
    margin: 16px auto; 
    padding: 0px 0px;
  }
  .header {
    font-size: 1rem;
  }
  .logo {
    margin:auto;
    object-fit: contain;
    height:60px;
    border-radius: 50%;
  }
  .nav__links {
    margin: 10px 0px;
    flex-basis: 100%;
  }
  .nav__links li {
    flex-basis: 100%;
  }
  .button {
  margin-left: 0px;
  padding: 12px 20px;
  }

  }
  

